body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image:url(blue.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
input {
    padding: 8px;
    margin: 5px;
}
button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}